<app-header [displayMenu]="true"></app-header>
<ion-content>
  <ion-toolbar color="info">
    <ion-title class="address-description-font">Mensagens</ion-title>
  </ion-toolbar>
  <div class="message-view">
    
    <ion-row *ngFor="let item of chat" class="grid-row-display">
      <ion-col>
        <ion-card class="answer-card">
          <ion-row>
            <span *ngIf="!item.isPhoto">{{item.message}} </span>
            <img  [src]="item.message" alt="Select Image" *ngIf="item.isPhoto"/>
          </ion-row>
          <ion-row class="date-time">
            <span>{{item.createdOn | date:'dd/MM/yyyy HH:mm:ss'}}</span>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <br>  <br>
        <!-- *ngIf="item.answer !== ''" -->
        <ion-card *ngIf="item.answer !== null" class="user-card ">
          <ion-row>
            <span >{{item.answer}} </span>
          </ion-row>
          <ion-row class="date-time">
            <span>{{item.updatedOn | date:'dd/MM/yyyy HH:mm:ss'}}</span>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>
  </div>
  
  <div class="message-send">
    <ion-textarea [(ngModel)]="messageChat"  autocapitalize="on" autofocus="true" enterkeyhint="enter"
      class="textarea" placeholder="Digite sua mensagem"></ion-textarea>
  </div>

  <div class="btn-send">

    <ion-button  color="success" (click)="sendMessage()">Enviar</ion-button>
  </div>
</ion-content>