ion-title{
    color: #211c1d;
  
    
}

.padding-icon{
    padding-right: 5px;
}

.date-time{
    font-size: 10px;
    float: right;
    margin-top:2px;
    justify-content: flex-end;
}


.message{
    margin: 8px;
    font-size: 18px;
}

.user-card {
    background: #efebe2;
    justify-content: flex-end;
     padding:5px;
    
}

.answer-card {
    margin:0;
   background: #d9ebf3;  
   justify-content: flex-end;
     padding:5px;

}


.grid-row-display{
    display: flex;
  
}

.message-view{
   
    overflow-y: auto;
    height: 70%;
    border-bottom: 0.2px solid rgb(197, 189, 189);
    margin-bottom: 5px;   
}

.btn-send{
    display: flex;
    justify-content: space-around;
}


.message-send {
   margin: 18px;
}

.close {
    float: right;
    --background:white;
    --color: #211c1d;
  


}