.image-center{
justify-content: center;
  }

  .price-content{
    color: #ffd534;
  }

  .recycle-logo{
    max-width: 100px;
  }

  .categories-list-btn{
    justify-content: flex-end;
    margin-top: 10px;
  }
