<app-header [displayMenu]="true"></app-header>
<ion-content>
  <ion-toolbar color="info">
    <ion-title size="small">Categorias de Reciclagem</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let category of categories" size="6">
        <ion-card text-center class="card-padding">
          <ion-row class="image-center"> 
            <ion-label class="recycle-logo"> 
              <img [src]="category.categoryLogo" alt="Reciclagem Amarelo">
            </ion-label>
            <ion-label>
              <h2>{{category.categoryName}}</h2>
            </ion-label>
          </ion-row>
          <ion-row class="categories-list-btn" >
            <ion-button size="small" [routerLink]="['./', category.recycleCategoryId]">
              <ion-icon size="small" name="list"></ion-icon>
              Materiais
            </ion-button>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['./', 0]" size="small">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
    <span style="font-size: smaller;">Ver todos</span>
  </ion-fab>
  </ion-content>