<app-header [displayMenu]="true"></app-header>
<ion-content [fullscreen]="true">
  <ion-toolbar color="info">
    <ion-title size="small">Pontos de Reciclagem Próximos</ion-title>
  </ion-toolbar>
  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
  <ion-row>
    <ion-label class="padding-address-label"><span class="address-style-font">Meu Endereço: </span> <span class="address-description-font">{{user.completeAdress}} , {{user.state}} - {{user.country}} </span> </ion-label>
  </ion-row>
  <ion-grid class="grid-layout">
    <ion-row class="row-header-grid-style">
      <ion-col size="3" class="column-align">
        <span class="column-text">Nome</span>
      </ion-col>
      <ion-col size="2" class="column-align">
        <span class="column-text">Distância</span>
      </ion-col>
      <ion-col size="5" class="column-align">
        <span class="column-text">Descrição</span>
      </ion-col>
      <ion-col size="2" class="column-align">
        <span class="column-text">Ir</span>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let local of locals" class="row-grid-style">
      <ion-col size="3" class="column-align">
        <ion-label>
           {{local.localName}}
        </ion-label>
      </ion-col>
      <ion-col size="2" class="column-align">
        <ion-label>
          {{local.distanceFromUser}}
        </ion-label>
      </ion-col>
      <ion-col size="5" class="column-align">
        <ion-label>
           {{local.localDescription}}
        </ion-label>
      </ion-col>
      <ion-col size="2" class="column-align">
        <ion-button size="small" type="button" color="primary" (click)="takeMeThere(local)">
          <ion-icon name="navigate-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>