.recycle-card {
    background:aliceblue;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
}

.bonus-card {
  background:lightgoldenrodyellow;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
}

.font-text{
  font-weight: 500;
}

.no-space{
  margin: 0px;
  padding: 0px;
}