.recycle-card {
    background:aliceblue;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
}

.bonus-card {
  background:lightgoldenrodyellow;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
}

.font-text{
  font-weight: 500;
}

.no-space{
  margin: 0px;
  padding: 0px;
}

.style-status{
  margin-top: 10px;
    text-align: end;
    margin-right: 5px;
}

.blue{
  color: mediumblue;
}

.green{
  color: mediumseagreen;
}

.yellow{
  color: gold;
}

