<app-header [displayMenu]="true"></app-header>
<ion-content>
  <ion-grid>
      <ion-row *ngFor="let material of materials">
        <ion-col>
          <ion-card text-center class="card-padding">
            <ion-row>
              <ion-label>
                <img src="assets/icon/recycle-3d-icon.png" class="image-center" />
              </ion-label>
              <ion-label>
                <h2>Material: {{material.materialName}}</h2>
                <h3>Descrição: {{material.materialDescription}}</h3>
                <h3>Local: {{material.materialLocation}}</h3>
                <h2 class="quantity-content">Quantidade: {{material.materialRealQuantity}}</h2>
                <h2 class="available-content">Adicionado em: {{ material.createdOn | date:'dd/MM/yyyy' }} </h2>
                <h2 *ngIf="material.requestCompanyId == userId" class="unavailable-content">Material Aprovado ou Aguardando aprovação para Retirada</h2>
                <ion-button [disabled]="material.requestCompanyId != null" size="small" type="button" color="success" (click)="requestMaterial(material)">
                  <ion-icon name="location-outline"></ion-icon> Solicitar Material
                </ion-button>
              </ion-label>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
