
// p{

//     text-align: center;
//     color: #211c1d;
// }

ion-title{
    color: #211c1d;

}

.content{
    text-align: center;
    color: #211c1d;
    font-size: 16px;
}

img {
  width: auto;
  height: 225px;
  margin: 0 auto;
}

.btn-back-login {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }