.column-text{
    font-size: small;
}

.image-center{
    margin:0 auto;
    max-width: 15%;
  }

  .quantity-content{
    color:green;
  }
  .available-content{
    color: skyblue;
  }

  .unavailable-content{
    color: red;
  }

  .card-padding{
      display: flex;
    padding: 5px;
   
  }

  .btn-card {
    display: flex;
    justify-content: flex-end;
  }

  .label-width {
      width: 100%;
  }