<app-header [displayMenu]="true"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-2>
        <span class="column-text">Descrição</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">Quantidade Bónus</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">Equivalente em Euros</span>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of bonusOptions">
      <ion-col col-1>
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-col>
      <ion-col col-2>
        <span class="column-text">{{item.description}}</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">{{item.totalBonus}}</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">{{item.moneyEquivalent}}</span>
      </ion-col>
      <ion-col col-1>
        <ion-button size="small" type="button" color="success" (click)="checkoutItem($event, item)">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>