<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      <img class="logo" src="../../../assets/teste.png" />
    </ion-title>
    <ion-item lines="none">
      <ion-menu-toggle>
        <ion-button color="Dark"> <ion-icon name="menu" color="secondary"></ion-icon></ion-button>
      </ion-menu-toggle>
      <ion-avatar slot="start" class="header-avatar">
        <ion-icon size="large" name="person-outline"></ion-icon>
      </ion-avatar>

      <ion-label class="header-user-info">
        <h3>{{user.userName}}</h3>
        <p>{{user.userRole}}</p>
      </ion-label>

      <ion-label class="bonus-label">
        <ion-icon size="large" name="ribbon-outline"></ion-icon>
        <h3>Bónus: {{user.totalBonus}}</h3>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-2>
        <span class="column-text">Descrição</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">Quantidade Bónus</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">Equivalente em Euros</span>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of bonusOptions">
      <ion-col col-1>
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-col>
      <ion-col col-2>
        <span class="column-text">{{item.description}}</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">{{item.totalBonus}}</span>
      </ion-col>
      <ion-col col-1>
        <span class="column-text">{{item.moneyEquivalent}}</span>
      </ion-col>
      <ion-col col-1>
        <ion-button size="small" type="button" color="success" (click)="checkoutItem($event, item)">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>