.logo {
    padding: 25px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}


.icon-user-pass {
    size: 10px;
    padding-right: 5px;
}

.icon-media {
    text-align: center;
    background-color: none;
}

// .btn-facebook{
    
//     background-color: aqua;
// }

// .btn-google{
   
//     background-color: red;
// }