<ion-content padding="true">
  <form [formGroup]="loginForm" novalidate>
    <!-- **Logo** -->

    <ion-list>
      <ion-item lines="none">
        <img src="../../../assets/SRecycle.png"/>
      </ion-item>
      <ion-row class="row-style-center">
        <ion-item >
          <ion-label  position="floating" class="label">
            <ion-icon item-left name="mail-outline" class="icon-user-pass"></ion-icon>
            Utilizador ou E-mail 
            </ion-label>
          <ion-input  autocomplete="on" type="text" formControlName="userName"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="row-style-center">
        <ion-item >
          <ion-label position="floating" class="label">
            <ion-icon name="lock-closed-outline" class="icon-user-pass"></ion-icon>
            Palavra Chave
          </ion-label>
          <ion-input  autocomplete="on" type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-row>
       
            <ion-item class="password" lines="none">
              <a class="forgot-password">Palavra Chave perdida?</a>
            </ion-item>
            
        
    </ion-list>
    <div class="btn-login">
      <ion-button color="success" (click)="loginAction()">
        <ion-icon style="padding-right: 4px" name="log-in-outline"></ion-icon>Aceder
      </ion-button>
    </div>
    <ion-item class="signup" lines="none" routerLink="/signup">
      <a class="new-account">É novo aqui? <span style="font-weight: 700; text-decoration: underline;">Nova subscrição</span> </a>
    </ion-item>


    <!-- <p class="enter-with-media">Ou entre com:</p>

    <ion-grid>
      <ion-row class="icon-media">
        <ion-col size="6">
          <ion-button class="btn-facebook">
            <ion-icon name="logo-facebook" style="color: white"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button class="btn-google">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </form>
</ion-content>