<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="title">
        <ion-menu-toggle auto-hide="true">
          <ion-button size="small" color="Dark">
            <ion-icon size="small" name="menu" class="menu-icon"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <ion-col class="no-space">
          <ion-icon size="large" name="cash-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row class="user-title bonus">
            <span class="font-bonus-style"> Bónus: {{user.totalBonus}}</span>
          </ion-row>
          <ion-row class="user-title bonus margin-top-row">
            <span class="font-role-style"> Total Salvo (€): {{user.totalMoney | number}}</span>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row class="user-role">
            <span class="font-user-style padding-span">{{user.userName}}</span>
            <ion-icon size="large" class="icon-person-circle" name="person-circle-outline"></ion-icon>
          </ion-row>
          <ion-row class="user-role role-margin">
            <span class="font-role-style padding-span">{{user.userRole}}</span>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>