.title{
    display: flex;
    align-items: center;
  
}

.padding-span{
  padding-right: 5px;
}

.no-space{
  max-width: 40px;
  margin-left: 10px;
}

.user-title{
   justify-content: flex-end;
   align-items: center;
}

.bonus{
    float: left;
}

.font-bonus-style{
  font-weight: 600;
  color: #7ecb29;
  font-size: 14px;
}

.user-role{
  float: right;
}

.font-user-style{
  font-size: larger;
  padding-left: 5px;
}

.font-role-style{
  color: gray;
  font-size: small;
}

.role-margin{
  margin-right: 24px;
  line-height: 1px;
}
 
.icon-person-circle{
  color: #7ecb29
}

.available-content{
  font-weight: 600;
  color: skyblue;
  font-size: 14px;
}

.margin-top-row{
  margin-top: 5px;
}

ion-icon{
  color:#211c1d ;
  --ionicon-stroke-width: 32px;
  // esse fica bom no verde
  // --ionicon-stroke-width: 46px;
}