.quantity-content{
    color:green;
  }
  .available-content{
    color: skyblue;
  }

  .unavailable-content{
    color: red;
  }

  .card-padding{
    padding: 5px
  }

  .list-btn{
      margin-top: 10px;
      justify-content: space-between;
  }