<app-header [displayMenu]="true"></app-header>
<ion-content padding='true'>
  <ion-grid>
    <ion-row *ngFor="let material of materials">
      <ion-col col-6>
        <ion-card text-center padding>
          <ion-label>
            <h2>Id: {{material.recycleMaterialId}}</h2>
            <h2>Nome: {{material.materialName}}</h2>
            <h3>Habilitado:<ion-toggle color="success" [(ngModel)]="material.materialEnabled" disabled></ion-toggle></h3>
            <h2>Quantidade Bónus: {{material.materialBonusQuantity}}</h2>
            <h3>Foto: {{material.materialPhoto}}</h3>
            <h2>Descrição: {{material.materialDescription}}</h2>
          </ion-label>
          <!-- <ion-button color="danger" (click)="deleteUser(item)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button> -->
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>