<ion-header>
  <ion-toolbar>
    <ion-title class="title">

  
  <!-- <h3 style="color:#211c1d; margin-top:0; float: right; margin-right:5px;">Smart Recycle</h3> -->
      <img class="logo" src="../../../assets/teste.png" />
    </ion-title>

          <ion-item lines="none">
            
          <ion-avatar slot="start" class="header-avatar">
            <!-- <img src="../../../assets/icon/renewable-energy.svg"> -->
            <!-- <img src="../../../assets/icon/twousergreen.png"> -->
            <ion-icon size="large" name="person-outline"></ion-icon>
          </ion-avatar>

          <ion-label class="header-user-info">
            <h3>{{user.userName}}</h3>
            <p>{{user.userRole}}</p>
          </ion-label>
      
        
          <ion-label class="bonus-label">
            <!-- <img src="../../../assets/icon/rect8148.png" class="image-bonus"> -->
            <ion-icon size="large" name="ribbon-outline"></ion-icon>
            <h3>Bónus: {{user.totalBonus}}</h3>
          </ion-label>
          </ion-item>
 

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="primary" routerLink="/recycle-bonus-options">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="../../../assets/icon/rect8116.png" class="image-icon" />
              Utilizar Bónus
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Opções disponíveis para troca dos bónus acumulados
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/recycle-bonus-history">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="../../../assets/icon/rect8144.png" class="image-icon" />
              Meu Histórico
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Minhas Reciclagens
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/change-password">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/changepassword.png" class="image-icon" />
              Minhas Informações
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Gerenciar minhas informações
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="light" routerLink="/login">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/logout.png" class="image-icon" />
              Sair
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Desativar Secção
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col center text-center>
      <button>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>1.5k Likes</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button>
        <ion-icon name="time"></ion-icon>
        <div>11h ago</div>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>