<app-header [displayMenu]="false"></app-header>
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/categories">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/rect8150.png" class="image-icon" />
              Materiais e Categorias
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Materiais e Categorias de Reciclagem
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="light" routerLink="/my-responsible-government">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/rect8130.png" class="image-icon" />
              Meu Responsável no Governo
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Responsável pelo governo atribuído
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="primary" routerLink="/recycle-bonus-options">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="../../../assets/icon/rect8116.png" class="image-icon" />
              Utilizar Bónus
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Opções disponíveis para troca dos bónus acumulados
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/recycle-bonus-history">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="../../../assets/icon/rect8144.png" class="image-icon" />
              Meu Histórico
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Minhas Reciclagens e Utilizações
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/my-profile">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/changepassword.png" class="image-icon" />
              Minhas Informações
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Gerenciar minhas informações
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="light" routerLink="/closest">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/recycle-location.png" class="image-icon" />
              Pontos de Reciclagem
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Pontos de Reciclagem Próximos a minha residência
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="tertiary" routerLink="/chat">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/chat.png" class="image-icon" />
              Mensagens
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Criar ou Ler Mensagens
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card-layout" text-center padding color="light" routerLink="/recycle-available-materials">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              <img src="assets/icon/recycle-3d-icon.png" class="image-icon" />
              Materiais Dísponiveis 
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-font">
            Materiais Dísponiveis Retirada / Meus Materiais Solicitados
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="footer-row">
    <ion-col>
      <ion-row class="leaf-row-design">
        <ion-icon name="leaf-outline" style="color:#7ecb29;"></ion-icon>
        <span class="footer-text-design">Smart Recycle</span>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="button-row-design">
        <ion-button class="btn-border" size="small" fill="outline" color="dark" routerLink="/login">
          <ion-icon name="log-out-outline" style="padding-right: 3px;"></ion-icon>
          Sair
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>