.image-center{
    margin:0 auto;
    max-width: 15%;
  }

  .quantity-content{
    color:green;
  }
  .available-content{
    color: skyblue;
  }

  .unavailable-content{
    color: red;
  }

  .label-padding{
    padding: 30px
  }

  .row-padding{
    padding: 10px
  }

  .icon-padding{
    padding-right: 5px
  }

  .padding-top-button {
    padding-top: 10px;
  }